ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	

}

li{
	float: left;
}

li a{ 
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
 }

h1 {
	font-size: 72px;
	color: White;
	font-family: 'Audiowide', cursive;
	text-align: center;
}

body {
	text-align: center;
	background-color: #042e72;
	background-repeat: no-repeat; 
	background-size: 100%;
	color: #c9ced6;
	font-family: 'Nanum Gothic Coding', monospace;
	font-size: 30px;
	padding-top: 1px;


}

